body {
  font-family: "arial narrow";
  background: url(わんこそば.jpg);
 background-size: cover;
 background-attachment: fixed;
   background-position: center center;
   color: #8b4513;
}
h1 {
  font-size: 100px;
}
@media screen and (max-width: 768px){
  h1 {
  font-size: 30px;
}
}
.box1 img {
  width: 45vw;
  height: 45vw;
  padding: 15px;
}
@media screen and (max-width: 768px){
.box1 img {
  padding: 1px;
}
}
.Video {
  text-align: center;
}
video {
  width: 23vw;
  height: 23vw;
  padding: 5px;
  border: 1px solid #fff;
}
@media screen and (max-width: 768px){
  video {
    width: 28vw;
    height: 28vw;
}
}
h2 {
  font-size: 30px;
}
@media screen and (max-width: 768px){
  h2 {
  font-size: 30px;
}
}
h3 {
  color: #000;
  background-color: #fff;
  margin: 15px;
  font-size: 30px
}
@media screen and (max-width: 768px){
  h3 {
  font-size: 13px;
  margin: 1px;
}
}
@media screen and (max-width: 768px){
.br-sp {display: none; }
}
