body {
  font-family: "arial narrow";
  background: url(あきたこまち.jpg);
 background-size: cover;
 background-attachment: fixed;
   background-position: center center;
   color: #ff4500;
}
h1 {
  font-size: 100px;
}
@media screen and (max-width: 768px){
  h1 {
  font-size: 30px;
}
}
.box1 img {
  width: 45vw;
  height: 45vw;
  padding: 20px;
}
@media screen and (max-width: 768px){
.box1 img {
  padding: 5px;
}
}
h2 {
  font-size: 30px;
}
@media screen and (max-width: 768px){
  h2 {
  font-size: 30px;
}
}
h3 {
  color: #000;
  background-color: #fff;
  margin: 20px;
}
@media screen and (max-width: 768px){
  h3 {
  font-size: 13px;
  margin: 5px;
}
}
@media screen and (max-width: 768px){
.br-sp {display: none; }
}
@media screen and (min-width: 768px){
.br-vw {display: none; }
}
span {
   display: inline-block;
}
